{erl_opts, [debug_info]}.

{deps, [
  {cowboy, {git, "https://github.com/ninenines/cowboy.git", {ref, "2.12.0"}}},
  {cowlib, {git, "https://github.com/ninenines/cowlib.git", {ref, "2.12.1"}}},
  {ranch, {git, "https://github.com/ninenines/ranch.git", {ref, "1.8.0"}}}
]}.

{project_plugins, [rebar3_auto]}.

{release, {
  hello,
  [
    {applications, [
      runtime_tools,
      cowboy,
      ranch,
      cowlib,
      hello
    ]}
  ]
}}.
