{erl_opts, [debug_info]}.
{deps, [
  {cowboy, "2.9.0"},
  {jsx, "3.1.0"}
]}.

{relx, [
    {release, {banking_app, "0.1.0"}, [
        banking_app,
        sasl,
        bank_web,
        bank_core,
        cowboy,
        ranch,
        jsx
    ]},
    {mode, dev},
    {sys_config, "./config/sys.config"},
    {vm_args, "./config/vm.args"}
]}.

{profiles, [
    {prod, [
        {relx, [
            {mode, prod}
        ]}
    ]}
]}.
